<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Preferences -->
    <preference for="Omnipro\DeferredExample\Api\Data\HttpStatusInterface" type="Omnipro\DeferredExample\Model\Data\HttpStatus" />
    <preference for="Omnipro\DeferredExample\Api\Data\ResultInterface" type="Omnipro\DeferredExample\Model\Data\Result" />
    <preference for="Omnipro\DeferredExample\Api\Management\HttpStatusProcessorInterface" type="Omnipro\DeferredExample\Model\Management\HttpStatusProcessor" />

    <!-- Loggers -->
    <virtualType name="DeferredLoggerHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/omnipro/deferred-logger.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="DeferredLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">DeferredLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Omnipro\DeferredExample\Model\Management\HttpStatusProcessor">
        <arguments>
            <argument name="logger" xsi:type="object">DeferredLogger</argument>
        </arguments>
    </type>
</config>
